*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    background: rgb(53, 70, 104);
    color: white;

}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 10px;
}
.display img{
    width: 70px;
}
h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: rgb(24, 220, 73);
    border-bottom: 5px solid rgb(24, 220, 73);
    padding-bottom: 10px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 25px;
}
.container button{
     border: 0;
     outline: 0;
     background: rgb(38, 168, 137);
     color: white;
     font-size: 25px;
     font-weight: 400;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 15px 25px;
     border-radius: 5px;
     cursor: pointer;
}